<!DOCTYPE html>
<html>
<head>
    <title>Sample Koa with HTMX</title>
    <script src="/htmx.js"></script>
    <script>
        htmx.logAll();
    </script>
</head>
<body>
<h1>TODO List</h1>
{% include "./app/templates/todos/form.njk" %}
{% include "./app/templates/todos/list.njk" %}
</body>
</html>